.git
.gitignore
.github
.expo
.env
.env.*
!.env.example
!**/.env.example
node_modules
**/node_modules
.eve
**/.eve
.output
**/.output
dist
**/dist
build
**/build
.next
**/.next
**/coverage
docs
*.log
**/*.log
